<h1>UCode-My Online Resources!</h1>


<table class="table">
  <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>URL</th>
        <th>Content-Type</th>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      {{#each resources as |resource|}}
      <tr>
        <td>{{resource.id}}</td>
        <td contenteditable="true">{{resource.name}}</td>
        <td contenteditable="true">{{resource.url}}</td>
        <td>{{resource.content-type}}</td>
        <td>{{resource.tag}}</td>
        <td><i class="material-icons edit">mode_edit</i>
        <i class="material-icons delete">delete</i></td>
      </tr>
      {{/each}}
    </tbody>
</table>
