<h1 class="title">UCode-My Online Resources!</h1>


<table class="table">
  <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>URL</th>
        <th>Content-Type</th>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      {{#each resources as |resource|}}
      <tr>
        <td>{{resource.id}}</td>
        <td contenteditable="true">{{resource.name}}</td>
        <td contenteditable="true">{{resource.url}}</td>
        <td>{{resource.content_type}}</td>
        <td>{{resource.tag}}</td>
        <td>
          <a href="#" class="edit_row"><i class="material-icons edit">mode_edit</i></a>
          <a href="#" class="delete_row"><i class="material-icons delete_resource">delete</i></a>
      </td>
      </tr>
      {{/each}}
    </tbody>
</table>
