<h1 class="title">UCode-My Online Resources!</h1>


<table class="table">
  <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Content-Type</th>
        <th>Tag</th>
      </tr>
    </thead>
    <tbody>
      {{#each resources as |resource|}}
      <tr>
        <!-- <td data-id="{{resource.id}}"</td> -->
        <td contenteditable="true">{{resource.name}}</td>
        <td contenteditable="true">{{resource.url}}</td>
        <td>{{resource.content_type}}</td>
        <td>{{resource.tag}}</td>
        <td>
          <button data-id="{{resource.id}}" class="btn btn-danger delete_information">
            <span data-id="{{resource.id}}" class="glyphicon glyphicon-trash"></span>
          </button>

          <button type="button"
            class="btn btn-primary btn pull-right update"
            data-toggle="modal"
            data-target="#exampleModalUpdate-{{resource.id}}"
            data-whatever="@getbootstrap">
            <span data-id="{{resource.id}}" class="glyphicon glyphicon-pencil"></span>
          </button>
          <div class="modal fade updateRowTable" id="exampleModalUpdate-{{resource.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content saveNewLink">
                <div class="modal-header">
                  <form data-id="{{resource.id}}" class="update-info">
                    <fieldset>
                      <h4 class="modal-title" id="exampleModalLabel-{{resource.id}}">Update!</h4>
                      <label>
                          Name
                          <input type = "name" name ="resource[name]" class="clean-change">
                        </label>
                      <label>
                          URL
                          <input type ="url" name ="resource[url]" class="clean-change">
                        </label>
                      <input type="submit" class="btn btn-primary uInfo" name="submit" value="Save">
                      <div id="messageUpdate-{{resource.id}}"></div>
                    </fieldset>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- <a href="#" class="edit_row"><i class="material-icons edit">mode_edit</i></a>
          <a href="#" class="delete_row"><i class="material-icons delete_resource">delete</i></a> -->
      </td>
      </tr>
      {{/each}}
    </tbody>
</table>
